﻿body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.panel-heading {
    cursor: pointer;
    *cursor: hand;
    &:hover {
        background-color: @gray-lighter;
    }
}

.panel-body {
    pre {
        margin-bottom: 0;
    }
}