﻿.tree-view {
    font: normal 11px "Segoe UI", Arial, Sans-serif;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    ul,
    li {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    input {
        position: absolute;
        opacity: 0;
    }

    a {
        color: #00f;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    input + label + ul {
        margin: 0 0 0 22px;
    }

    input ~ ul {
        display: none;
    }

    label,
    label::before {
        cursor: pointer;
    }

    input:disabled + label {
        cursor: default;
        opacity: .6;
    }

    input:checked:not(:disabled) ~ ul {
        display: block;
    }

    label,
    label::before {
        background: url("../pages/css3-treeview/example/icons.png") no-repeat;
    }

        label,
        a,
        label::before {
            display: inline-block;
            height: 16px;
            line-height: 16px;
            vertical-align: middle;
        }

    label {
        background-position: 18px 0;

        &::before {
            content: "";
            width: 16px;
            margin: 0 22px 0 0;
            vertical-align: middle;
            background-position: 0 -32px;
        }
    }

    input:checked + label::before {
        background-position: 0 -16px;
    }
}

/* webkit adjacent element selector bugfix */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .css-treeview {
        -webkit-animation: webkit-adjacent-element-selector-bugfix infinite 1s;
    }

    @-webkit-keyframes webkit-adjacent-element-selector-bugfix {
        from {
            padding: 0;
        }

        to {
            padding: 0;
        }
    }
}
