﻿@{
    Bundles.Reference("~/content");
    Bundles.Reference("~/scripts");
}

<!DOCTYPE html>
<html ng-app="wsdl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Bundles.RenderStylesheets()
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex3-collapse">
                    <span class="sr-only">Webservice</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Web Service</a>
            </div>
            <div class="collapse navbar-collapse navbar-ex3-collapse">
                <p class="navbar-text"></p>
            </div>
        </nav>
        @RenderBody()
    </div>

    @RenderSection("scripts", required: false)

    @Bundles.RenderScripts()
</body>
</html>
