﻿@model Reyx.Web.Wsdl.RestauranteWebService.HomeModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="WsdlCtrl">
    <div class="row">
        <div class="col-lg-7">
            <label>Url</label>
        </div>
        <div class="col-lg-3">
            <label>Interface</label>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-7">
            <input type="text" ng-model="url" class="form-control input-lg" />
        </div>
        <div class="col-lg-3">
            <input type="text" ng-model="interface" class="form-control input-lg" />
        </div>
        <div class="col-lg-2">
            <button class="btn btn-primary btn-block btn-lg" ng-click="generate()">Generate</button>
        </div>
    </div>

    <h1>{{ wsdl.service.name }}</h1>

    <div class="panel-group" id="accordion-json" ng-if="wsdl">
        <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion-functions" data-target="#collapse-json">
                <h4 class="panel-title">Schema</h4>
            </div>
            <div id="collapse-json" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <input type="text" ng-model="fileName" class="form-control input-lg" />
                        </div>
                        <div class="col-lg-2">
                            <button class="btn btn-primary btn-lg" ng-click="save()">Save</button>
                        </div>
                    </div>                    
                    
                    <br />

                    <pre id="wsdl">
// service

function {{ wsdl.service.name }} () {
    var self = this;
    self.url = "{{ url }}";
    self.interface = "{{ interface }}";
};
                        
// methods<span ng-repeat="item in models">
    
{{ wsdl.service.name }}.prototype.{{ item.name }} = function (<span ng-repeat="prop in item.properties">{{ prop.name }}<span ng-if="!$last">, </span></span>, callback) {<span ng-if="item.properties.length > 0">
    /// &lt;signature&gt;
    ///   &lt;summary&gt;&lt;/summary&gt;<span ng-repeat="prop in item.properties">
    ///   &lt;param name="{{ prop.name }}" type="{{ prop.type }}"&gt;&lt;/param&gt;</span>
    ///   &lt;returns type="{{ item.returns }}" /&gt;
    /// &lt;/signature&gt;
    
    var parameters = new SOAPClientParameters();<span ng-repeat="prop in item.properties">
    parameters.add("{{ prop.name }}", {{ prop.name }});</span></span>

    return SOAPClient.invoke(this.url, "{{ item.name }}", parameters, true, this.interface, callback);
};</span>
               
// functions<span ng-repeat="item in functions">

{{ item.name }} = function (<span ng-repeat="prop in item.properties">{{ prop.name }}<span ng-if="!$last">, </span></span>) {
    /// &lt;signature&gt;
    ///   &lt;summary&gt;&lt;/summary&gt;<span ng-repeat="prop in item.properties">    
    ///   &lt;param name="{{ prop.name }}" type="{{ prop.type }}"&gt;&lt;/param&gt;</span>
    ///   &lt;returns type="String" /&gt;
    /// &lt;/signature&gt;

    var self = this;<span ng-repeat="prop in item.properties">
    self.{{ prop.name }} = {{ prop.name }} || null;</span>
};</span>
                    </pre>
                </div>
            </div>
        </div>
    </div>

    <div ng-if="wsdl.types">
        <h3>References</h3>
        <pre><span ng-repeat="o in wsdl.types.schema.import">{{ o.schemaLocation }} <br /><i class="icon-terminal"></i> <strong>{{ o.namespace }}</strong><br ng-if="!$last" /><br ng-if="!$last" /></span></pre>
    </div>

    <h3 ng-if="models.length > 0">Methods</h3>
    <div class="panel-group" id="accordion-models">
        <div class="panel panel-default" ng-repeat="item in models">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion-models" data-target="#collapse-model-{{ $index }}">
                <h4 class="panel-title">
                    {{ item.name }}
                </h4>
            </div>
            <div id="collapse-model-{{ $index }}" class="panel-collapse collapse">
                <div class="panel-body">
                    <pre>
{{ wsdl.service.name }}.prototype.{{ item.name }} = function (<span ng-repeat="prop in item.properties">{{ prop.name }}<span ng-if="!$last">, </span></span>) {<span ng-if="item.properties.length > 0">
    /// &lt;signature&gt;
    ///   &lt;summary&gt;&lt;/summary&gt;
<span ng-repeat="prop in item.properties">    ///   &lt;param name="{{ prop.name }}" type="{{ prop.type }}"&gt;&lt;/param&gt;<br ng-if="!$last" /></span>
    ///   &lt;returns type="{{ item.returns }}" /&gt;
    /// &lt;/signature&gt;
    var self = this;
    self.token = {{ $index + 1 }};
    self.parameters = new SOAPClientParameters();

<span ng-repeat="prop in item.properties">    self.parameters.add("{{ prop.name }}", {{ prop.name }});<br ng-if="!$last" /></span></span>

    return SOAPClient.invoke({{ wsdl.service.name }}.url, "{{ item.name }}", self.parameters, true, "{{ action }}");
}</pre>
                </div>
            </div>
        </div>
    </div>

    <h3 ng-if="functions.length > 0">Functions</h3>
    <div class="panel-group" id="accordion-functions">
        <div class="panel panel-default" ng-repeat="item in functions">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion-functions" data-target="#collapse-function-{{ $index }}">
                <h4 class="panel-title">
                    {{ item.name }}
                </h4>
            </div>
            <div id="collapse-function-{{ $index }}" class="panel-collapse collapse">
                <div class="panel-body">
                    <pre>
function {{ item.name }} (<span ng-repeat="prop in item.properties">{{ prop.name }}<span ng-if="!$last">, </span></span>) {
    /// &lt;signature&gt;
    ///   &lt;summary&gt;&lt;/summary&gt;
<span ng-repeat="prop in item.properties">    ///   &lt;param name="{{ prop.name }}" type="{{ prop.type }}"&gt;&lt;/param&gt;<br ng-if="!$last" /></span>
    ///   &lt;returns type="String" /&gt;
    /// &lt;/signature&gt;
    var self = this;
    self.token = {{ $index + 1 }};

<span ng-repeat="prop in item.properties">    self.{{ prop.name }} = {{ prop.name }};<br ng-if="!$last" /></span></span>
}</pre>
                </div>
            </div>
        </div>
    </div>

    <h3 ng-if="enumerations.length > 0">Enums</h3>
    <div class="panel-group" id="accordion-enumerations">
        <div class="panel panel-default" ng-repeat="item in enumerations">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion-enumerations" data-target="#collapse-enumeration-{{ $index }}">
                <h4 class="panel-title">
                    {{ item.name }}
                </h4>
            </div>
            <div id="collapse-enumeration-{{ $index }}" class="panel-collapse collapse">
                <div class="panel-body">
                    <pre>
function {{ item.name }} () {
<span ng-repeat="prop in item.properties">    self.{{ prop.name }} = {{ prop.value }}; <br ng-if="!$last" /></span></span>
}</pre>
                </div>
            </div>
        </div>
    </div>

    <h3 ng-if="imports.length > 0">Schemas</h3>
    <div class="panel-group" id="accordion-schemas">
        <div class="panel panel-default" ng-repeat="item in imports">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion-schemas" data-target="#collapse-schema-{{ $index }}">
                <h4 class="panel-title">
                    {{ item.namespace }}
                </h4>
            </div>
            <div id="collapse-schema-{{ $index }}" class="panel-collapse collapse">
                <div class="panel-body">
                    <pre>{{ item.string }}</pre>
                </div>
            </div>
        </div>
    </div>
</div>
